body{
	margin:0px;
	padding:0px;
	text-align:center;
}

body,table,form,p,div,button{
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size:14px;
}

h1{
	padding-top:20px;
	color:rgb(150,150,150);
	cursor:pointer;
}

h1 #code51{
	color:#9acd32;
}

hr{
	margin:0px;
	padding:0px;
}

#line1{
	height:2px;
	width:100%;
	background-color:#9acd32;
	font-size:1px;
}

#line2{
	margin:0px 0px 0px 0px;
	height:10px;
	width:100%;
	background-color:rgb(230,230,230);
	font-size:1px;
}

#content{
	color:rgb(100,100,100);
	width:820px;
	margin:auto;
	font-family:verdana;
	font-size:15px;
	padding:10px;
	text-align: left;
}

#line3{
	margin:0px 0px 0px 0px;
	height:1px;
	width:100%;
	background-color:#9acd32;
	font-size:1px;
}

#details{
	margin-bottom:60px;
}

a{
	color:#6b8e23;
	text-decoration:none;
}

a:hover{
	color:#9a8832;
	text-decoration:underline;
}

#footer{
	font-size: 12px;
	color: rgb(102,102,102);
	padding:10px;
	text-align: center;
}

/*************************************
Table
*************************************/

table{
	border-spacing:0px;	
}

.code51Table{
	border:1px solid #6b8e23;
}

.code51Table .tableHead{
	background-color:#9acd32;
	color:rgb(255,255,255);
}

.code51Table td{
	padding:5px;	
	border-right:1px solid #6b8e23;
}

/**************************************
Form
**************************************/

.code51Form{
	border:1px solid #6b8e23;
}

.code51Form input,.code51Form textarea,.code51Form select{
	border:1px solid rgb(200,200,200);
	padding:2px 2px 2px 0px;	
}

.code51Form h3{
	margin-top:0px;
	background-color:#9acd32;
	color:rgb(255,255,255);
	padding:8px;
}

.code51Form form{
	margin-left:10px;
}

.code51Form .input{
	margin-bottom:10px;
	padding:3px 3px 3px 0px;
	
}

.code51Form .input div{
	font-weight:bold;
	padding:5px;
}



